
<div class="container-fluid mx-4" style="height: 120px; margin-top: 50px;">
    <div style="float: right; margin-right: 30px;">
        <p>Welcome:&nbsp;&nbsp;<strong style="color:rgb(56, 15, 240);font-weight: 50px;">{{get()}}</strong></p>
    </div>
    
   <h1 class="text-primar heading"> <img src="../../assets/technOrbit.png" alt="Logo" style="border-radius: 90%; width: 90px;height: 90px;background-attachment:fixed;">&nbsp;&nbsp;TechnOrbit Infosystem</h1>
   
</div>

<button type="button" class="btn btn-danger btn-sm mx-1" style="float: right;border-radius: 5px; margin-bottom: 20px;" (click)="signOut()" ><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</button>
